* {
    color: #374151;
    font-weight: bold;
}

body {
    background-color: #FFFFFF;
}

h1, h2{
    color: black;
}

p {
    font-size: small;
}

a{
    color: #1E40AF;
}

.main{
    margin: 0 30%;
}

